.item_card {
    .item_card_container {
        display: flex;
        border-bottom: 1px solid #3d87e2;
        padding: 10px;
        margin-bottom: 5px;
        .item_card_container_left {
            margin-right: 15px;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
        .item_card_container_right {
            .item_card_user {
                display: flex;
                .item_card_name {
                    margin-right: 10px;
                    span {
                        color: #3d87e2;
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
                .item_card_date {
                    span {
                        font-size: 18px;
                        font-weight: 400;
                        color: gray;
                    }
                }
            }
            .item_card_title {
                font-size: 20px;
                font-weight: 600;
                margin-top: 5px;
                .item_card_link {
                    color: black;
                    &:hover {
                        color: #3d87e2;
                    }
                }
            }
        }
    }
}
